.NewPost {
    display: flex;
    flex-direction: column;
    justify-content: center;
<<<<<<< HEAD
    align-items: center;
  }
  .Form {
  
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: center;
  }
  .publicar {
  
      color: rgba(0, 255, 255, 0.445);
  }
  .botonHeader{
    margin: 0px;
    padding: 0px;
    border: 0px;
  }
=======
}
.publicar {

    color: rgba(0, 255, 255, 0.445);
}
.botonHeader{
  margin: 0px;
  padding: 0px;
  border: 0px;
<<<<<<< HEAD
}
=======
}
>>>>>>> bff43e0191f2fdb3a2b08a345f510a9dce39d5b1
>>>>>>> 762688fe0bbb1dc5445763b707bc91813c809bf7
