/* div {
  margin: 0 auto;

} */
.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 40%;
}
.Post {
  background-color: white;
  border: 5px solid black;
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s all;
}
.Post:hover {
  border-color:  #535bf2;
}