

.Home {
  text-align: center;
  padding: 20px;
}

.Header {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;

}

.botonHeader {
  background-color: transparent;
  border: none;
  color: #f2f2f2;
  cursor: pointer;
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.botonHeader:hover {
  color: #ff9800;
}

.Anchor {
  text-decoration: none;
  color: white;
}

input {
  width: 30%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.postLink {
  text-decoration: none;
  color: #333;
}
.Posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}


.Post button {
  margin: 0; 
}
.Post {
  border: 2px solid #f9f9f9;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  background-color: #f9f9f9;
  max-width: 300px; 
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis; 
  transition: border-color 0.25s;
}

h2 {
  font-size: 18px;
  margin: 0;
  
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

h3 {
  font-size: 14px;
  color: #888;
  margin: 0;

  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

button {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.Post:hover {
  border: slateblue 2px solid;
}

button:hover {
  background-color: #5f5950;
}
