/* div {
  margin: 0 auto;

} */
.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: cyan;
  width: 100%;
  border: 5px solid rgb(1, 1, 156);
}
.Header a {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: cyan;
  width: 100%;
  text-decoration: none;
  }
.botonHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: cyan;
  width: 100%;
  text-decoration: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
  }

  a {
    color: black;
  }

.Posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 40%;
}
.Post {
  background-color: white;
  border: 5px solid black;
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s all;
}
.Post:hover {
  border-color:  #535bf2;
}
